td {
    padding: 0.5em;
    border: 2px solid gray;
    width: 25px;
    height: 25px;
}

.WHITE-background {
    background-color: white;
    color: black;
}

.BLACK-background {
    background-color: black;
    color: white;
}

.has-moves {
    border-color: greenyellow;
}

.is-move-target {
    border-color: darkorange;
}

.is-selected {
    border: 2px dotted greenyellow;
}
