td {
    padding: 0.5em;
    border: 2px solid gray;
    width: 45px;
    height: 45px;
}

.sign td {
      padding: 0.5em;
       width: 45px;
       height: 45px;
}
.WHITE-background {
    background-color: white;
    color: black;
}

.BLACK-background {
    background-color: black;
    color: white;
}

.has-moves {
    border-color: greenyellow;
}

.is-move-target {
    border-color: darkorange;
}

.is-selected {
    border: 2px dotted greenyellow;
}

.txt{
font-size: 20px;
}

.center {
  text-align: center;
}

#board a {
    color: white;
}

.arial {
font-family: Arial;
font-size:30px;
}
